{% include 'index.html' %} 

{% block content %}
<div  style="text-align: center; background-color: black; color: white;">
    <h1 class="heading">Welcome to Hotel 404</h1>
    <span>Your Important Links -></span>
    <div class="imp-links">
        <a href="{% url 'home' %}">->Home</a>
        <a href="{% url 'booking' %}">->Booking</a>
        <a href="{% url 'rooms_info' %}">->Rooms Info</a>
        <a href="">->Restaurant</a>
        <a href="">->About Us</a>
    </div>
</div>

{% endblock content %}